@import "tailwindcss";

.bg-primary{
    background-color: #389E0D;
}
.bg-secondary{
    background-color: #efffe0;
}

.text-primary{
    background-color: #389E0D;
}
.text-secondary{
    background-color: #efffe0;
}

.rounded-full{
    border-radius: 25px;
}

 .border-pink-400 {
    border: 1px solid #f472b6;
  }
  
  .bg-pink-50 {
    background-color: #fef2f2; 
  }
  
  .text-pink-400 {
    color: #f472b6;  
  }
  

