@import "tailwindcss";

.bg-primary{
    background-color: #389E0D;
}
.bg-secondary{
    background-color: #efffe0;
}

.text-primary{
    background-color: #389E0D;
}
.text-secondary{
    background-color: #efffe0;
}

.rounded-full{
    border-radius: 25px;
}

