@import "tailwindcss";

.bg-primary {
  background-color: #389E0D;
}

.bg-secondary {
  background-color: #efffe0;
}

.text-primary {
  color: #389E0D;
}

.text-secondary {
  color: #efffe0;
}

.rounded-full {
  border-radius: 25px;
}

.border-pink-400 {
  border: 1px solid #D3ADF7;
}

.bg-pink-50 {
  background-color: #f2e4ff;
}

.text-pink-400 {
  color: #a047f3;
}